
*.lock
*.ide
.vs/VirtualAuction/v16/.suo
.vs/VirtualAuction/v16/Server/sqlite3/storage.ide-wal
.vs/VirtualAuction/v16/Server/sqlite3/storage.ide-shm
VirtualAuction/obj/Debug/AuctionServer.csprojAssemblyReference.cache
VirtualAuction/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VirtualAuction/obj/Debug/DesignTimeResolveAssemblyReferences.cache
VirtualAuction/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
*.CopyComplete
VirtualAuction/obj/Debug/AuctionServer.csproj.GenerateResource.cache
VirtualAuction/obj/Debug/AuctionServer.exe
VirtualAuction/obj/Debug/AuctionServer.pdb
VirtualAuction/obj/Debug/AuctionServer.Properties.Resources.resources
VirtualAuction/obj/Debug/LeilaoServer.AddItem.resources
VirtualAuction/obj/Debug/LeilaoServer.FormMain.resources
*.cache
AuctionClient/obj/Debug/AuctionClient.exe
AuctionClient/obj/Debug/AuctionClient.FormClient.resources
AuctionClient/obj/Debug/AuctionClient.pdb
AuctionClient/obj/Debug/AuctionClient.Properties.Resources.resources
VirtualAuction/obj/Debug/AuctionServer.AddItem.resources
VirtualAuction/obj/Debug/AuctionServer.FormServer.resources
AuctionModel/obj/Debug/AuctionModel.dll
AuctionModel/obj/Debug/AuctionModel.pdb
AuctionModel/obj/Debug/AuctionModel.csproj.FileListAbsolute.txt
*.TXT
